<a href="../../assets/resume130217.pdf" target="_blank">
 Download My Resume <i class="fa  fa-cloud-download" aria-hidden="true"></i> 
</a>
<br/><br/>
<div class="row">
  <div class="col-sm-3">
    Today<br/>
    .<br/>
    .<br/>
    2018 Jan
  </div>
    <div class="col-sm-9"><div>Software Engineer Associate
    Valorem Private Limited
  </div>
  <div>
    Working in Microsoft technologies like Dot Net, ASP MVC, Entity Framework, SQL Server,<br/>
    Web API and front end technologies like HTML, CSS, Bootstrap, CSS and Angular
  </div></div>
</div>
<br/><br/>
<div class="row">
  <div class="col-sm-3">
    2018<br/>
    .<br/>
    .<br/>
    2013
  </div>
    <div class="col-sm-9"><div>Student
    Government Engineering College, Palakkad, Kerala
  </div>
  <div>
    Btech in computer science and technology
    
  </div></div>
</div>