<div class="container">
  <div class="row mt-5">
      <div class="col-md-12">
          <div class="main-timeline7">
              <div class="timeline">
                  <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                  <span class="year">2019 August - Present</span>
                  <div class="timeline-content">
                      <h5 class="title">Software Engineer, Valorem Reply</h5>
                      <p class="description">
                          Experienced in developing Modern Application 
                      </p>
                  </div>
              </div>
              <div class="timeline">
                  <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                  <span class="year">2018 January</span>
                  <div class="timeline-content">
                      <h5 class="title">Software Engineer Associate, Valorem Reply</h5>
                      <p class="description">
                          Trained in full stack development to become the part of awesome modern application development team in Valorem Reply
                      </p>
                  </div>
              </div>
              <div class="timeline">
                  <div class="timeline-icon"><i class="fa-graduation-cap"></i></div>
                  <span class="year">2013 - 2017</span>
                  <div class="timeline-content">
                      <h5 class="title">Student</h5>
                      <p class="description">
                        Graduated with <b>Bachelor of Technology</b> in <b>Computer Science and Technology</b> from <b>Government Engineer College, Palakkad</b>.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
