<div class="row">
  <div class="col-sm-10">
    <div class="row skillheader">
      __Programming Languages
    </div>
    <div class="row" *ngFor="let i of programmingLanguages">
      <div class="col-sm-4">
        {{i.skillName}}
      </div>
      <div class="col-sm-4">
        {{i.rating}}
      </div>
    </div>
    <div class="row skillheader">
      __Front End
    </div>
    <div class="row" *ngFor="let i of frontEndSkills">
      <div class="col-sm-4">
        {{i.skillName}}
      </div>
      <div class="col-sm-4">
        {{i.rating}}
      </div>
    </div>
    <div class="row skillheader">
      Back End
    </div>
    <div class="row" *ngFor="let i of backEndSkills">
      <div class="col-sm-4">
        {{i.skillName}}
      </div>
      <div class="col-sm-4">
        {{i.rating}}
      </div>
    </div>
    <div class="row skillheader">
      __Misfits
    </div>
    <div class="row" *ngFor="let i of misfits">
      <div class="col-sm-4">
        {{i.skillName}}
      </div>
      <div class="col-sm-4">
        {{i.rating}}
      </div>
    </div>
  </div>
</div>
