

.sidenav {
    height: 100vh;
    z-index: 1;
    background-color: rgb(59, 58, 59);
    /* overflow-x: visible; */
    /* transition: 0.1s; */
    /* padding: 35px 4px 35px 4px; */
}
.titleSidenav{
    /* text-decoration: none; */
    color: #ffffffff;
    font-size: 28px;
    display: block;
    /* transition: 0.3s; */
    text-align-last: left;
}
.subtitleSidenav{
    /* padding: 4px 2px 4px 2px; */
    text-decoration: none;
    font-size: 18px;
    color: #ffffffff;
    display: block;
    transition: 0.3s;
    line-height: 10%;
    text-align-last: center;
}
.sidenav a {
    /* padding: 8px 8px 8px 32px; */
    /* text-decoration: none; */
    font-size: 25px;
    color: #ffffffff;
    display: block;
    /* transition: 0.3s; */
    line-height: 150%
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(17, 80, 252)
}


@media screen and (max-height: 450px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */
}