.pageMain {
  font-family: 'Segoe UI',FontAwesome;
}
.pageSidebar {
  background: rgb(51, 55, 70);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(230, 230, 230);
}
.pageContent {
  min-height: 100vh;
  background: rgb(67, 178, 170);
}
.topMenu {
  padding: 8% 8% 4% 8%;
}
.profileName {
  font-size: 28px;
  line-height: 30px;
  justify-content:flex-start;
}
.profileDesig {
  font-size: 18px;
  line-height: 19px;
  justify-content: flex-start;
  padding-top:1vh
}
.bottomMenu {
  padding-top: 6vh;
}
.linkButton {
  padding: 12px 20px 12px 30px;
}
.linkButton:hover {
  text-decoration: none;
  color:rgb(67, 178, 170);
}
.iconD{
  padding-left:8px
}
.activeRoute {
  font-weight: 400;
  background-color: rgb(230, 230, 230);
  color: black;
}

/*@media (max-width: 768px) {
  .iconD, .profileDesig {
    display: none;
  }
}*/
