<div class="container-fluid">
  <div class="pageMain row">
    <div class="pageSidebar col-sm-2">
      <div class="topMenu ">
          <div class="profileName row">Abhijith Mahipal M</div>
          <div class="profileDesig row">Full Stack Developer</div>
      </div>
      <div class="bottomMenu">
        <a [routerLink]="['/home']" routerLinkActive="activeRoute" class="linkButton row"><span class="iconC">&#xf015;</span> <span class="iconD">Home</span></a>
        <a [routerLink]="['/skill']" routerLinkActive="activeRoute" class="linkButton row"><span class="iconC">&#xf085;</span> <span class="iconD">Skills</span></a>
        <a [routerLink]="['/portfolio']" routerLinkActive="activeRoute" class="linkButton row"><span class="iconC">&#xf07c;</span> <span class="iconD">Portfolio</span></a>
        <a [routerLink]="['/writing']" routerLinkActive="activeRoute" class="linkButton row"><span class="iconC">&#xf040;</span> <span class="iconD">Writing</span></a>
        <a [routerLink]="['/aboutme']" routerLinkActive="activeRoute" class="linkButton row"><span class="iconC">&#xf007;</span> <span class="iconD">About Me</span></a>
      </div>
    </div>
    <div class="pageContent col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
