.profile-pic{
  vertical-align: middle;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}
/*.pageContent{
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  padding: 20px 15px 20px 25px;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(67, 178, 170);
  overflow-wrap: break-word;
  margin-top: 0px;
  z-index: 100;
  flex-direction: column;
  box-shadow: rgb(136, 136, 136) 1px 7px 13px -11px;
}
.contentBox {
  max-width: 40%;
  padding: 0px 50px;
  margin-bottom: 100px;
}
.contentBoxInner {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
}
.imgLine {
  display: flex;
  align-items: center;
}
.header {
  font-size: 36px;
  font-weight: bold;
}
img {
  border-radius: 50%;
  height: 14vh;
  width: 8vw;
  position: relative;
  overflow: auto;
  border: 2px solid rgb(161, 222, 218);
  margin-right: 15px;
}
.aboutMe {
  margin-top: 5px;
  font-size: 20px;
}
.contactSection {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contactBtn {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 16px;
  color: rgb(51, 55, 70);
  font-weight: 400;
  letter-spacing: 0.02em;
  margin: 10px;
  text-decoration:none;
}
.iconSmall {
  margin-right: 10px;
  font-size: 20px;
}*/
