<div class="pageContent">
  <div class="contentBox">
    <div class="contentBoxInner">
      <div class="imgLine">
        <img src="../../assets/dp.jpg" alt="Avatar" class="profile-pic">
        <span class="header">
          Hi, I'm Abhijith.&nbsp;
        </span>
      </div>
      <div class="aboutMe">
        I'm a budding
        <b>Developer</b> who's passionate about technology.
        <br />This is my portfolio <b>under construction</b>
      </div>
      
      <div class="contactSection">
        <a href="mailto:abhijithmahipal@gmail.com?Subject=Hi%20Abhijith" target="_blank" class="contactBtn">
          <i class="fa  fa-envelope iconSmall" aria-hidden="true"></i> abhijithmahipal@gmail.com
        </a>
        <a href="https://github.com/abhijithmahipal" target="_blank" class="contactBtn">
          <i class="fa iconSmall  fa-github" aria-hidden="true"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/abhijith-mahipal-m-720389b2/" target="_blank" class="contactBtn">
          <i class="fa iconSmall fa-linkedin" aria-hidden="true"></i> Linkedin
        </a>
        <a href="https://twitter.com/MahipalAbhijith" target="_blank" class="contactBtn">
          <i class="fa iconSmall fa-twitter" aria-hidden="true"></i> Twitter
        </a>
        <a href="../../assets/resume130217.pdf" target="_blank" class="contactBtn">
          <i class="fa iconSmall fa-cloud-download" aria-hidden="true"></i> Resume
        </a>
      </div>
    </div>
  </div>
</div>
